{% extends 'base.html.twig' %}

{% block title %}Boutique
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/store/style.css')}}">
{% endblock %}

{% block body %}

<section>
	<h2>DRONE</h2>
</section>

{% endblock %}

