{% extends 'base.html.twig' %}

{% block title %}Accessoires
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/tools/style.css')}}">
{% endblock %}

{% block body %}
<section>
	<h2>ACCESSOIRES</h2>
</section>

{% endblock %}


