@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,600;0,800;1,300&display=swap");

* {
    margin: 0px;
    padding: 0px;
    font-family: "Exo", sans-serif;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
/* title */

h1{
    font-weight:bolder;
    font-size:190%!important;
    color:#1B57A6;
    font-style:italic;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.26);
}

h1 span{
    color:#9BDAF2;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.26);
}
/* header */

header {
    height: 10vh;
    background: whitesmoke;
    display: flex;
    width: 100%;
}
.title{
    display: flex;
    align-items:center;
    width:40vw;
}
.img{
    width: 7vw;
    height: 7vh;
    margin-right: 1%;
}
/* nav */
nav a{
    margin-right: 1vw;
    font-weight:bolder;
    font-size:175%;
    font-style:italic;
    color:#333;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.26);
    text-decoration: none;
}

nav a:hover{
    color:#1B57A6;
    text-shadow: 0 0 0.01px #1B57A6;
}
.active{
    color:#1B57A6;
}
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 100%;
    
}

/* icon nav */
.icon{
    margin-top: 1%;
    display: flex;
}
.bot{
    display: none;
}
.bx-md {
font-size: 220%!important;
}
.bx{
    font-size: 220%!important;
}

.drop{
    position:absolute;
    top: 10vh;
    right: 0px;
    width: 17vw;
    display: none;
    opacity: 0;
    z-index: 1;
}

.drop.show{
    animation: fadein 1s ease;
    display: block;
    opacity: 1;
}

/* footer */



footer{
    height: 25vh;
    background: #0F3759;
    background-image: linear-gradient(360deg, #ffffff38, transparent);
    text-shadow: 0 0 5px black;
}
footer aside{
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
footer aside a{
    text-decoration: none;
    padding: 2%;
    color: whitesmoke;
    font-size:large;
    font-weight: 400;
}
footer aside a:hover{
    color: white;
}
footer p{
    
    color: white;
    font-weight: 400;
    font-size:100%;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.register{
    transition: 2s;
    opacity: 0;
    visibility: hidden;
    margin-top: 4rem;
    z-index: 3;
}
.tag{
    transition: 2s;
    opacity: 0;
    visibility: hidden;
    margin-top: 8rem;
    z-index: 3;
}

.registerShow{
    visibility:visible;
    opacity: 1;
    transition: 2s cubic-bezier(.5, 0, 0, 1);
}


@keyframes move{
    from{
        transform: translateY(-30px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadein{
      from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}


