{% extends 'base.html.twig' %}

{% block title %}
	Paiement Invalid
{% endblock %}

{% block body %}
	<div class="container p-5" style="min-height:70vh">
		<h2>Votre Paiement n'a pas été pris en compte </h2>
		<p>Veuillez vérifier vos informations saisie </p>
	</div>
{% endblock %}
