{% extends 'base.html.twig' %}

{% block title %}Paiement Valide{% endblock %}

{% block body %}
        <div class="container">
            <h2>Votre Paiement est validez</h2>
            <p>Vérfier votre adress Email ! </p>
        </div>
{% endblock %}
