@media screen and (max-width: 900px){
    section:nth-child(1){
    height: 20vh;
    }
    section:nth-child(1) h2{
    font-size: 10vh;
    }
    section:nth-child(2){
    min-height: 60vh;
    }
    .t{
        font-size: 2.2em;
    }
}