
<body>
<h1 style="text-align:center; color:#9BDAF2">INGINUS</h1>
<h2 style="text-align:center;"> Bonjour </h2>
<hr/>

<p style="text-align:center;">Vous venez de recevoir un message  de la part de{{name}}</p>

<p  style="text-align:center;"> Email : {{ mail }}</p>
<hr/>
<p  style="text-align:center;"> Objet : {{ objet }} </p>
<p  style="text-align:center;"> Message : </p>
<p  style="text-align:center;"> {{ message|nl2br }}</p>

