<h1> Bonjour {{ name}} </h1>

<p> Votre message a bien été pris en compte seras transmit dans le plus bref délais </p>

<p class="fw-semibold"> Objet : {{ objet }} </p>
<p> Message <p>
<div>
<p>{{ message|nl2br}}</p>
</div>