<h1> Félicitation {{data.name}}. </h1>

<p> Vous venez de vous inscrire sur le site web Inginus grace à votre email : {{ data.email }}.</p>
<p> Vous pouvez à tous moment, vous connecter dans votre espace client </p>
<hr/>
<br/>
<br/>
<br/>
<br/>
<p style="color:#73A9D9"> @Inginus </p>
